.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field label {
  font-weight: 600;
}

.field input {
  height: 56px;

  padding: 0 16px;

  border: 2px solid var(--color-outline);
  border-radius: var(--radius-md);
  padding-right: 56px;
  font-size: 16px;
}

.passwordWrapper {
  position: relative;
   padding-right: 56px;
}

.showButton {
  position: absolute;

  right: 16px;
  top: 50%;

  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: transparent;

  color: var(--color-text-secondary);

  cursor: pointer;
}

.success {
  color: #2e7d32;
  font-weight: 600;
}

.error {
  color: #d32f2f;
  font-weight: 600;
}