.page {
  min-height: 100vh;

  background: #f7fbf0;
}

.content {
  max-width: 520px;

  margin: 0 auto;

  padding: 24px;

  display: flex;
  flex-direction: column;

  gap: 32px;
}

.options {
  display: flex;
  flex-direction: column;

  gap: 16px;
}