.button {
  position: fixed;

  right: 24px;
  bottom: 100px;

  width: 64px;
  height: 64px;

  border: none;
  border-radius: 999px;

  background: var(--color-primary);

  color: white;

  font-size: 32px;

  cursor: pointer;

  box-shadow: var(--shadow-card);

  z-index: 200;
}